/* inputs tag  */
.income{
    text-align: center;
}
.food{
    text-align: center;
    margin-left: 23px;
}
.rent{
    text-align: center;
    margin-left: 29px;
}
.clothes{
    text-align: center;
    margin-left: 3px;
}
/* calculate  */
.custom-calculate-input{
    height: 40px;
    width: 165px;
}
/* save  */
.custom-save-input{
    height: 40px;
    width: 110px;
}